/.codex/
/.personality_migration
/archive/
/auth.json
/build/
/cache/
/dist/
/fonts/
/licenses/
/log/
/logs/
/memories/
/tmp/
/workspace/

/release/*
!/release/current/
/release/current/*
!/release/current/install_pack.zip
!/release/current/McBopomofo-PIME-Setup-Lite-2026.03.30.10.exe

